<connectionStrings>
  <add name="ApplicationServices" connectionString="Data Source=|DataDirectory|\NerdDinner.sdf" providerName="System.Data.SqlServerCe.4.0;"/>
  <add name="NerdDinnerEntities" connectionString="metadata=res://*/Models.NerdDinner.csdl|res://*/Models.NerdDinner.ssdl|res://*/Models.NerdDinner.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\NerdDinner.sdf&quot;" providerName="System.Data.EntityClient" />
  <add name="ELMAH.SQLite" connectionString="Data Source=|DataDirectory|errors.s3db"/>
</connectionStrings>